.container{
    height: 200px;
}
.col-1{
    height: 200px;
    background-color: rgb(255, 173, 173);
    border: black 1px solid;
    padding-left: 2.5%;
    padding-top: 8%;
}
.col-12{
    height: 200px;
    background-color: rgb(255, 173, 173);
    border: solid black 1px;
    padding-top: 8%;
    padding-left: 48%;
}
.col-8,
.col-2,
.col-6{
    height: 200px;
    background-color: rgb(255, 173, 173);
    border: solid black 1px;
}
.col-8{
    padding-left: 30%;
    padding-top: 8%;
}
.col-2{
    padding-top: 8%;
    padding-left: 6%;
}
.col-6 p{
    margin-top: 16%;
    margin-left: 47%;
}
.col-6 .container :first-child{
    margin-left: 4%;

}
.col-6 .container .col-2{
    width: 90px;
    height: 190px;
    border: white solid 1px;
    background-color: rgb(255, 78, 78);
    margin-top: 1%;
    padding-left: 6%;
}
.col-6 .container .col-2 p{
     text-align: center;
     margin-left: -25px;
     margin-top: 40px;
}
.col-6 .container .col-8{
    width: 360px;
    height: 190px;
    border: white solid 1px;
    background-color: rgb(255, 78, 78);
    margin-top: 1%;
}
.col-6 .container .col-8 p{
    margin-left: -35px;
    margin-top: 40px;
}
.col-6 .container .col-6{
      width: 270px;
      height: 190px;
      margin-top: 1%;
      border: white solid 1px;
      background-color: rgb(255, 78, 78);    
}
.col-6 .container .col-6 p{
    margin-left: 100px;
    margin-top: 90px;
}



